include ./Product

append variables

	- 
		var products = {
			new: [
				{
					imgSrc: 'assets/img/products/wifi_ip_camera/wifi-ip-camera1.png',
					productTitle: '2MP 3MP 5MP WIFI Dome', 
					//- description: "The Philodendron White Princess has been around for some time in private collections. But they have hit the market now in full big potted plants."
				},
				{
					imgSrc: 'assets/img/products/wifi_ip_camera/wifi-ip-camera2.png',
					productTitle: '2MP WIFI Dome IP Camera', 
					//- description: "aS it is a small species, Monstera Obliqua is uncommon. Another reason for its scarcity is that it grows slowly and has short selling seasons"
				},
				{
					imgSrc: 'assets/img/products/wifi_ip_camera/wifi-ip-camera3.png',
					productTitle: '2MP 3MP 5MP WIFI Bullet', 
					//- description: "Featuring colorful, long-lasting blooms, the Bromeliad Aechmea Pink is a unique flowering plant to add a touch of tropics With lasting blooms"
				},
				{
					imgSrc: 'assets/img/products/wifi_ip_camera/wifi-ip-camera4.png',
					productTitle: '2MP WIFI Bullet IP Camera', 
					//- description: 'The fast-growing shoots produce little "babies" that you can re-pot for added greenery elsewhere. Just stick to well-lit spots, water weekly. '
				}
			],
		}

mixin Products 

	section#products.mb-9.mb-lg-10.mb-xxl-11.text-center.text-md-start
		h3.mb-x1.fs-8.fs-md-7.fs-xxl-6.text-success.fw-bold Product Catalog

		#slider-1.mb-6.mb-lg-7.mb-xl-10 
			h1.fs-5.fs-md-3.fs-xxl-2.text-secondary.text-capitalize.fw-light.mb-13.mb-lg-7    
				span.fw-bold WIFI IP Camera
			.mb-4.mb-lg-0
				.swiper-theme-container.position-relative
					.swiper-container.theme-slider(data-swiper!={
						spaceBetween:32,
						loop:true,
						loopedSlides:4,
						breakpoints:{
							0:{slidesPerView: 1}, 
							768:{slidesPerView: 2}, 
							1024: {slidesPerView: 2}}
						})
						.swiper-wrapper
							each product in products.new 
								+Product(product)
					.slider-nav
						button(data-slider="slider-1").btn.prev-button
							span.uil.uil-angle-left-b
						button(data-slider="slider-1").btn.next-button
							span.uil.uil-angle-right-b