mixin Footer 

  footer(style=`background-image: url('${CWD}assets/img/illustrations/BOTTOM.png')` class="Footer")
    .pb-x1.px-3.px-lg-0 
      div#contact.container
        .row.align-items-end
          .col-12.col-md-4
            .mb-3.mb-md-5 
              h3(style="color: #FFF0D3;").fs-9.fs-md-8.fw-bold.mb-0 Director
              div
                p.mb-0.text-white.fw-bold Kenny Chen
          .col-12.col-md-4
            .mb-3.mb-md-5 
              h3(style="color: #FFF0D3;").fs-9.fs-md-8.fw-bold.mb-0 Mobile
              div
                p.mb-0.text-white.fw-bold +886 915-453-636
          .col-12.col-md-4
            .mb-3.mb-md-5 
              h3(style="color: #FFF0D3;").fs-9.fs-md-8.fw-bold.mb-0 E-Mail
              div
                p.mb-0.text-white.fw-bold cancer52049@gmail.com
          .col-12.col-md-6
            .mb-3.mb-md-5 
              h3(style="color: #FFF0D3;").fs-9.fs-md-8.fw-bold.mb-0 Address
              div
                p.mb-0.text-white.fw-bold Rm. 1301, 13F., No. 502, Sec. 2, Ren'ai Rd., Linkou Dist., New Taipei City
            

